<footer>
  <center>
          <span>
            <a href="https://www.livingroomsllc.com/">
              <img src="https://i.imgur.com/uVnI0u5.png"></a>
          </span><br />

            <span>
              <a href="https://www.sos.state.co.us/biz/BusinessEntityDetail.do?quitButtonDestination=BusinessEntityResults&nameTyp=ENT&masterFileId=20191661465&entityId2=20191661465&fileId=20191661465&srchTyp=ENTITY"> Living Rooms LLC ™2019
              </a>
            </span><br />

            <a href="https://www.facebook.com/LivingRoomsLLC">
              <img src="https://i.imgur.com/aMsuFrv.png" style="width: 50px;"></a>

            <a href="https://www.linkedin.com/company/living-rooms-llc">
              <img src="https://i.imgur.com/Kp2pNs9.png" style="width: 50px;"></a>

            <a href="https://www.linkedin.com/in/lilyjherreriagomez/">
              <img src="https://i.imgur.com/jilBH7C.jpg" style="width: 50px;">
            </a>
              <br />

              <a href="http://www.sarahmenzel.com/">
                Graphic Design and Logo  by Sarah Menzel Trapl
              </a><br />

              <a href="mailto:unangellily@gmail.com">
                developer
              </a>

              <a href="mailto:LivingRoomsLLC@gmail.com">
                contact us
              </a>
              <br />

            Staging Services: <br />
              <a href="mailto:Lily@LivingRoomsLLC.com">
                Living Rooms LLC
              </a>

              <a href="tel:1-303-578-0058">
                1-303-578-0058
              </a>
              </center>
</footer>
