<header>
  <!-- <h1>Plant Parenthood</h1> -->
  <center>
    <img src="https://i.imgur.com/UyCgUwe.jpg" height=300px>
  <ul>
    <li><a href="/plant">Plant Parenthood Directory</a></li>
    <li><a href="/plant/new">Add Additional Plantlings</a></li>
  </ul>
  </center>
</header>
