<meta charset="utf-8">
<title>Plant Parenthood</title>
<!-- ============= FONTS ============= -->
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="public/css/styles.css">
