<header>
  <!-- <h1>Plant Parenthood</h1> -->
  <center>
    <img src="https://i.imgur.com/UyCgUwe.jpg" height=300px>
  <ul>
    <p>Plant Parenthood:</p>
    <li><a href="/plant">Directory</a></li>
    <li><a href="/plant/new">Add Plantlings</a></li>
    <li><a href="/">Plant Seeds</a></li>
    <li><a href="/sessions/new">login</a></li>
    <li><a href="/users/new">New User</a></li>
  </ul>
  </center>
</header>
