<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <!-- <meta charset="utf-8">
    <title>Sign Up</title> -->
  </head>
  <body>
    <main>
    <h2>New user</h2>

    <form action="/users" method="POST">

      <label for="name">Username:</label>
      <input type="text" name="username" required />
      <br />

      <label for="password">Password:</label>
      <input type="text" name="password" required  />
      <br />

      <input type="submit" value="new user">
      </form>
      <br />

      <a href="/sessions/new">log in</a>

  </main>
  </body>
</html>
