<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plant Directory</title>
  </head>
  <body>
    <h1>Plant Directory</h1>
    <ul>
      <% for (let i = 0; i < plant.length; i++) { %>
        <li>
          <a href="/plant/<%=plant[i].id%>">
            <%=plant[i].name;%>
          </ a>
          <form action="/plant<%=plant[i].id%>?_method=DELETE" method="POST">
            <button><input type="submit value="DELETE" /></button>
          </form>
          <a href="/plant/<%=plant[i].id%>/edit">Edit Plant Entries</a>
        </li>
      <% } %>
    </ul>
    <nav>
      <button><a href="/plant/new">Add New Plant</a></button>
    </nav>
  </body>
</html>
