<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Plant</title>
  </head>
  <body>
      <h1>New Plant</h1>
      <form action="/plant" method="POST">
        Name:<input type="text" name="name" /><br />
      </form>
    <a href="/plant">Back to Plant Director</a >
  </body>
</html>
