<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Plant</title>
  </head>
  <body>
      <h1>New Plant</h1>
      <form action="/plant" method="POST">
        Name:<input type="text" name="name" /><br />
        <button><input type="submit" value="Add new plant" /></button>
      </form>
    <button><a href="/plant">Back to Plant Director</a ></button>
  </body>
</html>
