<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plant Entry Information</title>
  </head>
  <body>
    <h1>Plant Entry Information</h1>
    name: <%=plant.name%>

<!-- add more plant information  -->
  <button type="button" name="button"><a href="/plant/<%=plant._id%>/edit">Edit</a></button>
  <br />
<!--  <form action="/plant/
  <%=plant._id%>?_method=DELETE" method="POST">
    <input type="subit" value="DELETE"/>
  </form> this doesn't work or show up on the page -->
    <nav>
      <button><a href="/plant/">Back to Plant Directory</a></button>
    </nav>
  </body>
</html>
